html, body {
    margin: 0;
    font-family: Inter, sans-serif;
}

nav{
    background-color: palevioletred;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

nav > img {
    width: 40px;
    margin-right: 12px;
}

.row{
    display: flex;
}

article{
    padding-left: 5rem;
}

.top-row{
    align-items: baseline;
}

.entryImage{
    height: 15rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 12px;
    margin: 12px;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.entry-info-section{
    padding: 24px 12px;
    display: flex;
}

.locationIcon{
    height: 1rem;
    margin: 6px;
}
.locationName{
    margin-right: 16px;
    text-transform:uppercase;
}

.entry-info-section a {
    color: grey;
}

.dates{
    font-weight: bold;
}